/*
 * Стили для основного блока
 */

.central {
  margin: 0 auto;
  position: relative;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.central__content {
  display: flex;
  flex-direction: column;

  padding-top: 30px;
  min-height: 740px;
}
